.dropdown{
	z-index: 98;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.dropdown .selector{
	position: relative;
	padding: 5px 40px 5px 5px;
	cursor: pointer;
	border-radius: 5px;
	background: #ddd;
}

.dropdown ul{
	position: absolute;
	display: none;
	width: 100%;
	z-index: 99;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #eee;
}

.dropdown.expanded{
	z-index: 99;
}

.dropdown.expanded .selector{
	border-radius: 5px 5px 0 0;
}

.dropdown.expanded ul{
	display: block;
	border-radius: 0 0 5px 5px;
}

.dropdown li.selected a{
	text-decoration: underline;
}

.dropdown a{
	display: block;
	padding: 5px 5px;
	white-space: nowrap;
}

.dropdown a{
	line-height: 20px;
}

.dropdown.disabled .selector{
	background: #ddd !important;
	box-shadow: none !important;
	border: none !important;
}

.dropdown .arrow{
	position: absolute;
    right: 6px;
    top: 6px;
	color: #666;
}