/*
* vDrop default theme
*/
.dropdown.default .selector{
	background-color: #9ab;
	box-shadow: inset 0 25px 25px -10px rgba(255, 255, 255, 0.9);
	border: 1px solid #abc;
}

.dropdown.default .selector:hover{
	background-color: #bcd;
}

.dropdown.default ul{
	position: absolute;
	background: #eee;
	max-height: 180px;
	overflow: auto;
	margin: 0;
}

.dropdown.default li a,
.dropdown.default li a:visited{
	color: #000;
}

.dropdown.default li a:hover{
	text-decoration: none;
	background: #9ce;
}

.dropdown.default li.selected a{
	text-decoration: none;
	background: #058;
	color: #fff;
}